@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat', sans-serif;
  text-decoration:none;
}

section{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #96c7e8;
  font-size: 23px;
}
#Home{
  background: #fff2f0;
}

#textOne{
    width: 550px;height: 200px;
    margin-left: 400px;
}

#textOne p {
    display:block;
}
#About{
  background: #f2f2f2;
}
#Category{
  background: #e6e6e6;
}
#Latest{
  background: #fff;
}
#Contact{
  background: #f2f2f2;
}
#Feedback{
  background: #e6e6e6;
}
.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

.btn{
  display:inline-block;
  background: var(--color-white);
  color:var(--color-black);
  padding:1rem 2rem;
  border:1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  width: 400px; height: 200px;
}

.btn:hover{
  background-color: #FF676D;
  color:#FFF2F0;           /* edit red */
  border-color: #f75842;
}

.btn-primary{
  background-color: white;
  color:#f06969;           /* edit red */
  border-color: #f06969;
}